
<table>
    <thead>
        <tr>
            <th>Diagonal</th>
            <th>Display type</th>
            <th>Processor frequency</th>
            <th>RAM</th>
            <th>Video</th>
            <th>Battery last</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{product.diagonal}}</td>
            <td>{{product.display_type}}</td>
            <td>{{product.processor_freq}}</td>
            <td>{{product.ram}}</td>
            <td>{{product.time_without_charge}}</td>
        </tr>
    </tbody>
</table