
<table>
    <thead>
        <tr>
            <th>Diagonal</th>
            <th>Display type</th>
            <th>Resolution</th>
            <th>Accumulator</th>
            <th>RAM</th>
            <th>SD</th>
            <th>Max SD volume</th>
            <th>Main camera</th>
            <th>Frontal camera</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{product.diagonal}}</td>
            <td>{{product.display_type}}</td>
            <td>{{product.resolution}}</td>
            <td>{{product.accum_volume}}</td>
            <td>{{product.ram}}</td>
            <td>{{product.sd}}</td>
            <td>{{product.sd_volume_max}}</td>
            <td>{{product.main_camp_mp}} MPX</td>
            <td>{{product.frontal_camp_mp}} MPX</td>
        </tr>
    </tbody>
</table